html{
    font-size: 14px;
    font-family: Verdana;
    font-family: MicrosoftSansSerif;
}
a:link{
   text-decoration: none;
    color: inherit;
}
a:hover, .text_hovered:hover{
    color: rgb(255,73,0);
}
a:visited{
    color: inherit;
}
.main_menu_desktop .logo {
    font-size: 1.2rem;
}
.product_title h1{
    font-size: 1.5rem;
}
.article{
    font-size: 0.9rem;
}

.item_price .price{
    font-size: 1.2rem;

}

@font-face {
    font-family: "MicrosoftSansSerif";
    src: url("/files/client/fonts/MicrosoftSansSerif.woff2") format("woff2");
}
body{
    font-size: 1.04rem;
}
.default__link:link{
    text-decoration: underline;
    color: blue;
}
.default__link:visited{
    color: blue;
}
.default__link:hover{
    color: rgb(255,73,0);
}
a.nuxt-link-exact-active{
    font-weight: bold;
    color: rgb(255,73,0);
}
.menu__icon__text{
    font-size: 0.8rem;
}