.svg_icon svg{
    width: 32px;
    height: 32px;
}
.svg_mobile_menu_icon svg{
    width: 32px;
    height: 20px;
}

/**
СПРАЙТ
 */
.icons {
    background-image: url("/files/client/images/icons/sprite.png");
    width: 32px;
    height: 32px;
    display: inline-flex;
    background-position: 0px 32px;
    min-width: 32px;
    min-height: 32px;
}

.avatar.icons {background-position: 0px 0px}
.avatar_black.icons {background-position: 0px -32px}
.avatar_hovered{background-position: 0px -32px}
.avatar_hovered:hover{background-position: 0px 0px}

.paper_1.icons {
    background-position: 0px -64px;
}
.paper_1_black.icons {
    background-position: 0px -96px;
}
.office_folder.icons, .tovary-dlya-ofisa-i-shkoly.icons {
    background-position: 0px -128px;
}
.office_folder_black.icons {
    background-position: 0px -160px;
}
.favorites.icons {
    background-position: 0px -192px;
}
.favorites_black.icons {
    background-position: 0px -224px;
}
.cleaning.icons, .hozyaystvennye-tovary-i-bytovaya-himiya.icons {
    background-position: 0px -256px;
}
.cleaning_black.icons {
    background-position: 0px -288px;
}
.medicine.icons, .medicina.icons {
    background-position: 0px -320px;
}
.medicine_black.icons {
    background-position: 0px -352px;
}
.specodejda.icons, .rabochaya-specodezhda-i-siz.icons {
    background-position: 0px -384px;
}
.specodejda_black.icons {
    background-position: 0px -416px;
}
.paper.icons, .bumazhnaya-produkciya.icons {
    background-position: 0px -448px;
}
.paper_black.icons {
    background-position: 0px -480px;
}
.printer.icons, .tehnika-rashodnye-materialy-i-torgovoe-oborudovanie.icons {
    background-position: 0px -512px;
}
.printer_black.icons {
    background-position: 0px -544px;
}
.printer_1.icons {
    background-position: 0px -576px;
}
.printer_1_black.icons {
    background-position: 0px -608px;
}
.basket.icons {
    background-position: 0px -640px;
}
.basket_black.icons {
    background-position: 0px -672px;
}
.view_list.icons {
    background-position: 0px -704px;
}
.view_list_black.icons {
    background-position: 0px -736px;
}
.view_tile.icons {
    background-position: 0px -768px;
}
.view_tile_black.icons {
    background-position: 0px -800px;
}



.icons16.icons{
    zoom: 0.7;
}

/**
СПЕЦСИМВОЛЫ
 */
.icon_base{
    height: 25px;
    width: 25px;
    line-height: 25px;
    font-size: 2rem;
    margin-top: -5px;
    text-align: center;
}
.icon_close:before{
    content: "\2716";
}
.icon_view_list:before{
    content: "LIST";
}
.icon_view_table:before{
     content: "TABLE";
 }

/**
КНОПКА ЗАКРЫТИЯ
 */
.btn__close {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    position: relative;

 /*   margin: 20px auto;*/
    cursor: pointer;
    font-size: 50px;
}
.btn__close:before {
    content: '+';
    color: black;
    position: absolute;

    transform: rotate(45deg);

    line-height: 1;
    top: -5px;
    left: 6px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.btn__close:hover:before {
    content: '+';
    color: rgb(255,73,0);
    position: absolute;

    transform: rotate(45deg);

    line-height: 1;
    top: -5px;
    left: 6px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.btn__close_hover {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: relative;

    margin: 20px auto;
    cursor: pointer;
}
.btn__close_hover:before {
    content: '+';
    color: rgb(255,73,0);
    position: absolute;

    transform: rotate(45deg);
    font-size: 50px;
    line-height: 1;
    top: -5px;
    left: 6px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.btn__close_hover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: rgb(255,73,0);

    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.01);
}
.btn__close_hover:hover:after {
    transform: scale(1);
}
.btn__close_hover:hover:before {
    transform: scale(0.8) rotate(45deg);
    color: #fff;
}