html, body {
  margin: 0px;
  padding: 0px;
}
body{
 /* background-color: rgb(248, 248, 248);*/
}
/*
color="#ff4900"
ff4900
255, 73, 0
 */
.wrapper{
  min-height: 90vh;
  margin-left: auto;
  margin-right: auto;
  /*padding: 0px 8px 8px 8px;*/

}
h1{
  text-align: center;
}
.active-link{
  font-weight: bold;
}
.base_shadow_hover{

}
.base_shadow_hover:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.base_shadow{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.content_block{
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 7px;
  background-color: white;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);


}
ul{
  list-style: none;
  margin: 0px;
  padding: 0px;

}
.std_link{
  transition: 0.7s;
  background-color: transparent;
  border: none;
}
.std_link:hover{
  color: rgb(255,73,0);
  cursor: pointer;
}
.std_link:hover{
  color: rgb(255,73,0);
  cursor: pointer;
}
.std_link a:hover{
  color: rgb(255,73,0);
  cursor: pointer;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
* {
  /*z-index: 100;*/
}
.empty_block{
  z-index: 99;
}
.foreground{
  z-index: 101;
}
.catalog_items .item_description{
  padding-left: 20px;
}
.catalog_items .item_description h4{
  padding-left: 0px;
}
.catalog_items .item_price{
  justify-self: center;
}
.catalog_items .item_price button{
  width: 100%;
}
.product .item_price{
  padding-top: 30px;
  padding-left: 40px;
  border-top: 1px solid rgba(0,0,0,0.2);
  border-right: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.2);

  /* background-color: rgba(248,248,248,1);*/

}

.product .item_price .price, .catalog_items .item_price .price{
  font-weight: bold;
  margin: 15px 0 15px 0;
}
.product_title h1 {
  padding-bottom: 3px;
  margin-bottom: 10px;
}
.product_categorys, .on_top{
  z-index: 100;
}
.invisible{
  display: none;
}
.visible{
  display: inherit;
}
.promotion_item img{
  max-width: 200px;
  max-height: 200px;
  min-height: 200px;

}
.promotion_items header a:link{
  font-size: 1.3rem;
}
.order_client{
 /* float: right;*/
}
.order_items{
/*  float: left;*/

}
.order_items, .order_client{
  width: 100%
}
.order_items .view_item{
  display: inline-flex;
  width: 100%;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}
.order_items .view_item .name{
  max-width: 600px;
}
.scroll_to_top{

}
.main_menu_desktop .basket_main_menu{
  margin-top: 15px;
}
/**
Запрет переводчика
 */
#google_translate_element{width:300px;float:right;text-align:right;display:block}
.goog-te-banner-frame.skiptranslate { display: none !important;}
body { top: 0px !important; }
#goog-gt-tt{display: none !important; top: 0px !important; }
.goog-tooltip skiptranslate{display: none !important; top: 0px !important; }
.activity-root { display: none !important;}
.status-message { display: none !important;}
.started-activity-container { display: none !important;}