html, body {
  margin: 0px;
  padding: 0px;
}
body{
 /* background-color: rgb(248, 248, 248);*/
}
/*
color="#ff4900"
ff4900
255, 73, 0
 */
.wrapper{
  min-height: 90vh;
  margin-left: auto;
  margin-right: auto;
  /*padding: 0px 8px 8px 8px;*/

}
h1{
  text-align: center;
}
.active-link{
  font-weight: bold;
}
.base_shadow_hover{

}
.base_shadow_hover:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.base_shadow{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.content_block{
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 7px;
  background-color: white;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);


}
ul{
  list-style: none;
  margin: 0px;
  padding: 0px;

}
.std_link{
  transition: 0.7s;
  background-color: transparent;
  border: none;
}
.std_link:hover{
  color: rgb(255,73,0);
  cursor: pointer;
}
.std_link:hover{
  color: rgb(255,70,0);
  cursor: pointer;
}
.std_link a:hover{
  color: rgb(255,73,0);
  cursor: pointer;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
* {
  /*z-index: 100;*/
}
.empty_block{

}

.catalog_items .item_description{
  padding-left: 20px;
}
.catalog_items .item_description h4{
  padding-left: 0px;
}
.catalog_items .item_price{
  justify-self: center;
}
.catalog_items .item_price button{
  width: 100%;
}
.product .item_price{
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 1px solid rgba(0,0,0,0.2);
  border-right: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.2);

  /* background-color: rgba(248,248,248,1);*/

}

.product .item_price .price, .catalog_items .item_price .price{
  font-weight: bold;
  margin: 15px 0 15px 0;
}
.product_title h1 {
  padding-bottom: 3px;
  margin-bottom: 10px;
}


.invisible{
  display: none;
}
.visible{
  display: inherit;
}
.promotion_item img{
  max-width: 200px;
  max-height: 200px;
  /*min-height: 200px;*/

}
.promotion_items header a:link{
  font-size: 1.3rem;
}
.order_client{
 /* float: right;*/
}
.order_items{
/*  float: left;*/

}
.order_items, .order_client{
  width: 100%
}
.order_items .view_item{
  display: inline-flex;
  width: 100%;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}
.order_items .view_item .name{
  max-width: 600px;
}
.scroll_to_top{

}
.main_menu_desktop .basket_main_menu{
 /* margin-top: 15px;*/
}
/**
Запрет переводчика
 */
#google_translate_element{width:300px;float:right;text-align:right;display:block}
.goog-te-banner-frame.skiptranslate { display: none !important;}
body { top: 0px !important; }
#goog-gt-tt{display: none !important; top: 0px !important; }
.goog-tooltip skiptranslate{display: none !important; top: 0px !important; }
.activity-root { display: none !important;}
.status-message { display: none !important;}
.started-activity-container { display: none !important;}
.main_page_slider{
  justify-self: center;
}
footer.content_block{
  padding-left: 0px;
  padding-right: 0px;
}
.full__width{width: 100%}

.link__with__text{

}
.link__with__text >div:first-child{

}
.link__with__text >div:last-child{
font-size: 0.9rem;
}

.on_top_1{z-index: 1}
.on_top_2{z-index: 2}
.on_top_3{z-index: 3}
.on_top_4{z-index: 4}
.on_top_5{z-index: 5}
.on_top_100{z-index: 100}
.on_top_101{z-index: 101}
.on_top_102{z-index: 102}
.on_top_103{z-index: 103}
.on_top_104{z-index: 104}
.on_top_105{z-index: 105}
.on_top_200{z-index: 200}
.on_top_300{z-index: 300}
.on_top_400{z-index: 400}
.on_top_500{z-index: 500}
.on_top_1000{z-index: 1000}
.on_top_2000{z-index: 2000}
.on_top_3000{z-index: 3000}
.on_top_4000{z-index: 4000}
.on_top_5000{z-index: 5000}

/**
ТАБЛИЦА
 */
.table{
  border: 1px solid #eee;
  table-layout: auto;
  width: 100%;
  margin-bottom: 20px;
}
.table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}
.table td{
  padding: 5px 10px;
  border: 1px solid #eee;
  text-align: left;
}
.table tbody tr:nth-child(odd){
  background: #fff;
}
.table tbody tr:nth-child(even){
  background: #F7F7F7;
}
.table tbody tr:hover{
  background-color: #dddddd;
}