@media screen and (min-width: 720px) {
    html, body, .wrapper {
       /* max-width: 1200px;*/
        margin-left: auto;
        margin-right: auto;

    }
    .wrapper{
        max-width: 1200px;
    }
    .main_page_content_res {
        grid-template-columns: minmax(300px, 1fr) minmax(500px, 4fr);
    }

    .product_category {
        grid-template-columns: minmax(300px, 1fr) minmax(500px, 4fr);
    }

    .product_category {
        display: grid;
    }

    .slide_current, .slide_next {
        width: 600px;
        height: 200px;

    }

    .main_page_slider {
        max-width: 600px;
        max-height: 200px;
        justify-self: center;
    }

    .catalog_item_res {
        grid-template-columns: minmax(300px, 1fr) minmax(500px, 4fr);
    }

    .product {
        display: grid;
        grid-template-columns: minmax(240px, 240px) minmax(350px, 2fr) minmax(150px, 1fr);
        grid-auto-rows: minmax(min-content, max-content);
    }

    .catalog_all_res {
        display: grid;
        grid-template-columns: minmax(300px, 1fr) minmax(500px, 4fr);
        grid-column-gap: 20px;

    }

    .product_title {
        grid-column-start: 1;
        grid-column-end: 4;

    }

    .catalog_item {
        padding-left: 20px;
    }

    .product .images_block > img {
        max-width: 230px;
        max-height: 230px;

    }

    .product .images {
        margin-left: auto;
        max-width: 230px;
    }

    .footer_desktop {
        display: grid;
    }

    .main_menu_mobile {
        display: none;
    }

    .catalog_items {
        grid-template-columns: minmax(200px, 250px) minmax(400px, 2fr) minmax(200px, 250px);
        width: 800px;
    }

    .catalog_items .item_image {
        width: 210px;
        max-width: 210px;
        max-height: 210px;
        cursor: pointer;
    }

    .update_basket {
        width: 200px
    }

    .customer_info input {
        border: 1px solid grey;
    }

    .customer_info label {
        font-size: 1.2rem;
    }

    .nuxt__content {
        display: grid;
      /*  grid-template-columns: minmax(300px, 1fr) minmax(500px, 4fr);*/
        grid-column-gap: 20px;
    }




}